<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
  <add name="myCS" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=&quot;C:\Users\ysssh\source\repos\IOOP-Group-Assignment\IOOP Group Assignment\GoodStayHotelDatabase.mdf&quot;;Integrated Security=True;Connect Timeout=30" />
  <add name="IOOP_Group_Assignment.Properties.Settings.GoodStayHotelDatabaseConnectionString"
   connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\GoodStayHotelDatabase.mdf;Integrated Security=True"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
</configuration>